h1{color:royalblue ;
background-color: rosybrown;
border-radius: 50%;
height: 100px;
width: 100px;
display:inline;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: italic;
font-size:xx-large ;
}
img{border-radius: 50%;
height: 400px;
width: 500px;}